.footer {
  padding: 17px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 5px;
}

.social {
  display: flex;
  gap: 16px;
}

.link {
  color: #6ab1d7;
  transition: color .3s ease-in-out;
}

.link:hover {
  color:#33d9de;
}

@media (max-width: 480px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}

.blueText {
  color:#002878;
}